body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: "Acme", sans-serif;
    border-bottom: 1px solid #bbb;
}
table{
    border-collapse: collapse;
    border: 1px solid #eee;
    width: 100%;
    max-width: 700px;
    margin:20px auto;
}

th, td{
    padding: 0.75 rem;
    text-align: center;
}

th{
    background-color: #000;
    color: #fff;
    font-weight: bold;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ace;
}
caption{
    caption-side: top;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}