body {
	font-family: Roboto, helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
    padding: 1rem;
}

.banner {
    background-color: #c1d4db;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 500;

}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main h2 {
	color: navy;
	text-align: left;
    grid-column: span 2;
}

article p {
	text-align: justify;
}

.callout {
	color: #fff;
	background-color: #b6bbbd;
    padding: 1rem;
    border-radius: 0.5rem;
    grid-column: span 2;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
