
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafc;
  color: #333;
  text-align: center;
}

header {
  background-color: #2b4a64;
  color: white;
  padding: 1.5rem;
}

main {
  margin: 2rem auto;
  width: 90%;
  max-width: 1000px;
}


.hero {
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.hero img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

section {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #2b4a64;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
