/* Import  Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color : #333;
    background-color: #f5f5f5;
    display : flex;
    flex-direction : column;
    min-height : 100vh;
}

header {
     background-color: #6b6404; 
  color: #fff;
        padding-top : 1.2rem ;
        text-align : center;
        margin:0;
}
#course-title {
    display:block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

nav{
    display:flex;
    justify-content: center;
    gap: 1rem;
    background-color: #706c6c;
    width: 100%;
    padding: 0.75rem 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
}
nav a{
    color : #333;
    text-decoration: none;
    font-weight: bold;
    padding:  0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background-color: #d6d6d6;
    color:#000;
    
}
nav.active {
  display: flex;
}
@media (min-width: 640px) {
  #menu-button {
    display: none; /* ocultamos el botón ☰ */
  }

  nav {
    display: flex !important;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
  }

  nav a {
    border: none;
    padding: 0 1rem;
  }
}
#menu-button {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}

nav a {
    border: none;
    margin: 0 1rem;
}


main {
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
    display:grid;
    grid-template-columns:2fr 1fr;
    gap: 2rem;
    padding: 1rem;
    margin: 1rem;
    width: 100vw;

}

h1{
    grid-column: 1/ -1;
    text-align: center;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow:hidden;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
     width: 100%;
  box-sizing: border-box;
}

.card h2{
    background-color: #6b6404;
    color :white;
    margin: 0;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.5px;
    border-bottom: 3px solid #e6d04b;
}


.card .text{
    flex:1;
    text-align: left;
}


.card img{
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
 
    .card img{
        max-width: 20%;
    }

.about, .country{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

    .flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  color: #666;
  margin-top: 0.3rem;
}

.flag img {
  max-width: 250px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.flag figcaption {
  font-size: 0.85rem;
  color: #666;
  text-align: center;
  font-style: italic;
}
.divider{
    border: 0;
    height: 2px;
    background-color: #817905ea;
    margin: 0.5 rem 0 1rem;
}
  

@media(max-width: 900px){
    main{
        grid-template-columns: 1fr;
    }
    .about, .country{
        flex-direction: column;
        text-align: center;
}}
footer {
  background-color: #6b6404;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
  border-top: 4px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 0.9rem;
}

footer p {
  margin: 0.3rem 0;
}


