#menu-button {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}

nav a {
    border: none;
    margin: 0 1rem;
}

.gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
