body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5faff;
    color: #333;
    margin: 0;
    padding: 0;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
 main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
 }
 section{
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
 }

 section{
    padding:1rem;
    border-color: #fff;
    border-radius: 6px;
 }

 h1,h2 {
    margin-top: 0;
 }

 footer {
    text-align: center;
    font-weight: bold;
 }